{% include 'base.html' %}

{% block body %}
    <div class="full-height" style="background: #fefefe;">
        <div class="container">
        <h1>About</h1>
				<p>The Accra Python User Group (AccraPUG) is an open community of developers and users of the Python programming language in Accra, Ghana. We are open to absolutely anyone who is interested  in Python regardless of experience or level and hope to foster a strong, supportive, collaborative and proficient Python community in Accra, Ghana.</p>
				<p>We meet on the second Thursday of every month to network and discuss interesting applications of Python. Venue is at Meltwater Entrepreneurial School of Technology (MEST), 20 Aluguntugui Street, Ambassadorial Enclave, East Legon, Accra. Visit our <a href="#">Meetup</a> page for the schedules and agenda.</p>
				</div>
    </div>
{% endblock %}
